@import "variables";
@import "mixins";

@include fancy-links;

body {
	background-color: #eee;
	p {
		color: $text-color;
	}
}

h2 {
	@include large-text;
}

.btn-warning {
	@include warning;
	padding: 8px 12px;
}

#header {
	@include box(4px, 1px solid $ternary-color);
	height: $header-height;
	background-color: #ccc;
}