@import "variables";

@mixin warning {
	background-color: orange;
	color: #fff;
}

body {
	background-color: #eee;
	p {
		color: $text-color;
	}
}

.btn-warning {
	@include warning;
	padding: 8px 12px;
}

#header {
	height: $header-height;
	background-color: #ccc;
}